# Python cache    
*.pyc

# Proyect .exe converter
Main.spec
build/
dict/

# Sprites / Sounds / Fonts stuff (leave only the code)
sounds/
sprites/

# Save file
files/utils.txt
files/save/key.py
public.pem